<section class="bg-white dark:bg-blue-500 ">
  <div class="container flex items-center min-h-screen px-6 py-12 mx-auto">
      <div>
          <p class="text-sm font-medium text-blue-500 dark:text-blue-900">Erro 404</p>
          <h1 class="mt-3 text-2xl font-semibold text-gray-800 dark:text-white md:text-3xl">Não podemos encontrar essa página</h1>
          <p class="mt-4 text-gray-300 dark:text-gray-200">Desculpe, mas a página que você procura não existe ou não pode ser acessada.</p>

          <div class="flex items-center mt-6 gap-x-3">

              <button (click)="redirectTo()" class="w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-800 rounded-lg shrink-0 sm:w-auto hover:bg-blue-600 dark:hover:bg-blue-700 dark:bg-blue-800">
                  Ir para o menu principal
              </button>
          </div>
      </div>
  </div>
</section>