.description {
  min-height: 9rem;
  max-height: 9rem;
}

.header {
  min-height: 4rem;
  max-height: 4rem;
}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed; 
}

.div-card {
  border: 2px solid #7fb0ff;
  border-radius: 0.5rem;
}




