<p-toast></p-toast>
<div class="w-full h-full flex flex-wrap gap-8">
  <div *ngFor="let item of disciplines" class="w-96 div-card">
    <p-card header="{{ item.name }}" subheader="Carga horária: {{ item.hours}}h" class="w-full h-full py-0  header">
      <div class="w-full break-basic description">{{ item.description || "Sem descrição" }}</div>

      <ng-template pTemplate="footer">
        <p-overlayPanel #op>
          <ng-template pTemplate="content" [formGroup]="form">
            <p-panel header="Dados da disciplina">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon">
                    <i class="pi pi-book"></i>
                  </span>
                  <input pInputText placeholder="Nome da disciplina" formControlName="name" />
                </div>
    
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon">
                    <i class="pi pi-clock"></i>
                  </span>
                  <input type="text" pInputText placeholder="Carga horária" formControlName="hours" />
                  <span class="p-inputgroup-addon">h</span>
                </div>
    
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon">
                    <i class="pi pi-comment"></i>
                  </span>
                  <textarea maxlength="200" id="float-input" rows="5" cols="30" pInputTextarea formControlName="description"></textarea>
                </div>
                <div class="card flex justify-end">
                  <p-splitButton (onClick)="updateDiscipline(item.disciplineId)" label="Salvar" icon="pi pi-plus" [model]="items"></p-splitButton>
                </div>
            </p-panel>
          </ng-template>
        </p-overlayPanel>
        <p-button (click)="getDisciplineById(item.disciplineId, op, $event)" label="Editar" icon="pi pi-file-edit"
          styleClass="p-button-text mr-2 mb-2"></p-button>
      </ng-template>
    </p-card>
  </div>
</div>
  <p-button (onClick)="openAddDisciplineModal()" icon="pi pi-plus" class="button-add" styleClass="p-button-rounded" class="fixed left-[50%] bottom-5"></p-button>
  <p-dialog header="Salvar nova disciplina" [(visible)]="visible" [style]="{width: '50vw'}" [modal]="true" [breakpoints]="{ '960px': '75vw' }" [maximizable]="true">
    <div [formGroup]="modalForm">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-book"></i>
        </span>
        <input pInputText placeholder="Nome da disciplina" formControlName="name" />
      </div>
  
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-clock"></i>
        </span>
        <input type="text" pInputText placeholder="Carga horária" formControlName="hours" />
        <span class="p-inputgroup-addon">h</span>
      </div>
  
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-comment"></i>
        </span>
        <textarea maxlength="200" id="float-input" rows="5" cols="30" pInputTextarea formControlName="description"></textarea>
      </div>
    </div>
    <p-dropdown appendTo="body" placeholder="Selecione um semestre" [options]="periods" optionLabel="period" class="w-full" [(ngModel)]="period"></p-dropdown>

    <div class="card flex justify-end">
      <p-button label="Salvar" icon="pi pi-plus" (onClick)="saveDiscipline()" [disabled]="!formIsValid()"></p-button>
    </div>
  </p-dialog>