@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

$app-padding: 6vh;
$app-width: 50vh;
$app-height: 90vh;
$detail-padding: 4vh;
$heading-text-size: 4.8vh;
$heading-text-login: 2.8vh;
$color-primary: #0F9EDE;
$color-primary-light: #94cae4;
$color-secondary: #D0DFF0;
$color-text-secondary: rgba(black, 0.45);
$color-border: #E3E3E3;
$color-cal: #08B5CF;
$color-heart: #9965AA;
$color-steps: $color-primary;
$color-temp: #F4814B;
$view-delay: 2s;
$duration: 0.6s;
$segment-duration: 1.2s;
$pulse-duration: 1.75s;
$easing: cubic-bezier(0.77, 0, 0.175, 1);
$stroke-width: 0.5vh;

* {
  transition: all $duration $easing;
}

#app {
  width: $app-width;
  height: $app-height;
  padding: $app-padding;
  background: white;
  box-shadow: 0 0 2rem rgba(black, 0.1);
  border-radius: 10px;
}

.app-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.app-header {
  padding: $app-padding;
  
  &, > * {  
    font-size: $heading-text-size;
    margin: 0;
    font-weight: 300;
  }
  
  > h1 {
    font-size: $heading-text-size;
    font-weight: 400;
    margin-bottom: $heading-text-size;
  }
  
  > h2 {
    font-size: 3vh;
  }
}

.app-subheading {
  color: $color-text-secondary;
}

.app-register {
  position: absolute;
  bottom: 0;
  height: 10vh;
  line-height: 10vh;
  padding: 0 $app-padding;
  color: $color-text-secondary;
  
  > a {
    font-weight: 400;
  }
}

input {
  font-size: 2.5vh;
  width: calc(100% - 13vh);
  height: 7.5vh;
  margin-bottom: 2vh;
  background: transparent;
  position: absolute;
  top: 0;
  left: 6.5vh;
  z-index: 2;
  border: none;
  box-shadow: inset 0 -0.5vh rgba(black, 0.1);
  
  &:focus {
    outline: none;
    box-shadow: inset 0 -0.5vh transparent;
  }
  
  &[type="email"] {
    top: 58%;
  }
  
  &[type="password"] {
    top: calc(58% + 7.5vh);
  }
}

input[type="email"]:valid ~ * .st1 {
  transition-timing-function: ease-in-out;
  stroke-dasharray: 50, 153;  
  stroke-dashoffset: 25;
}

input[type="password"]:valid ~ * .st1 {
  transition-timing-function: ease-in-out;
  stroke-dasharray: 50, 153;  
  stroke-dashoffset: 25;
}

input[type="password"]:focus ~ * .st0,
input[type="password"]:valid ~ * .st0,
.app-button:focus ~ * .st0 {
  stroke-dasharray: 210, 900;
  stroke-dashoffset: -305;
}

input[type="email"]:focus ~ * .st0 {
  stroke-dasharray: 210, 900;
  stroke-dashoffset: 0;
}

input:not(:valid) ~ .app-button {
  pointer-events: none;
  opacity: 0.6;
  border: 1px solid #fff;
  background-color: #fff;
  color: #ccc;
}

.app-button {
  text-decoration: none;
  width: calc(100% - 13vh);
  height: 7vh;
  color: #ccc;
  font-size: $heading-text-login;
  padding: 0 $app-padding;
  position: absolute;
  bottom: 10vh;
  left: 6.5vh;
  font-weight: 400;
  border: 1px solid $color-primary;
  background: $color-primary;
  cursor: pointer;
  
  &:focus {
    outline: none;
  }
  &:hover {
    background: $color-cal;
  }
}


@keyframes button-press {
  from, 20% {
    opacity: 1;
  }
  10% {
    opacity: 0.4;
  }
  40%, to {
    opacity: 0;
  }
}

#welcome:target ~ * {
  .app-button {
    animation: button-press 2s $easing both;
  }
  
  .st0 {
    stroke-dashoffset: -760;
    stroke-dasharray: 140, 900;
    transition-duration: $segment-duration;
    animation: disappear 0s $segment-duration + 0.1s both;
  }
  
  .st1 {
    transition-duration: $duration / 2;
    opacity: 0;
  }
  
  .app-graphic {
    transform: translate(0, 0);
    opacity: 1;
  }
  
  #svg-lines {
    animation: pulse $pulse-duration / 3 $segment-duration ease-in-out both;
    animation-iteration-count: 3;
  }
  
  .svg-loader {
    animation: appear 0s $segment-duration both;
  }
  
  .svg-loader-segment {
    transition-delay: $view-delay + $pulse-duration;
    opacity: 0;
  }
  
  .svg-loader-segment.-cal {
    transform: translateX(4vh) translateY(-4vh);
    stroke: $color-cal;
  }
  
  .svg-loader-segment.-heart {
    transform: translateX(3.5vh) translateY(6.7vh);
    stroke: $color-heart;
  }
  
  .svg-loader-segment.-steps {
    transform: translateX(-6.9vh) translateY(5.2vh);
    stroke: $color-steps;
  }
  
  .svg-loader-segment.-temp {
    transform: translateX(-14vh) translateY(-4vh);
    stroke: $color-temp;
  }
  
  .svg-data {
    opacity: 1;
    transform: translate(0, 0);
    transition:
      transform $duration ($view-delay + $pulse-duration + $segment-duration),
      opacity $duration ($view-delay + $pulse-duration + $segment-duration),
      stroke-dasharray $duration ($view-delay + $pulse-duration + $segment-duration),
      stroke-dashoffset $duration ($view-delay + $pulse-duration + $segment-duration);
    
    &.-temp {
      stroke-dasharray: 118;
    }
    
    &.-cal {
      stroke-dasharray: 113;
    }
    
    &.-steps-bg, &.-steps {
      stroke-dasharray: 100;
      stroke-dashoffset: 0;
    }
    
    &.-heart {
      stroke-dasharray: 200;
      stroke-dashoffset: 0;      
    }
  }
  
  .svg-activity-fill,
  .svg-activity-line {
    transform: translateY(0);
    opacity: 1;
    transition-duration: $duration * 2;
    transition-delay: $view-delay + $pulse-duration + $segment-duration;
  }
  
  .app-view:nth-child(1) > :not(svg) {
    opacity: 0;
    pointer-events: none;
  }
  
  .app-view:nth-child(2) {
    opacity: 1;
    pointer-events: auto;
    
    > .app-header > *,
    > .app-content,
    > .app-activity,
    .app-item,
    .app-item > *:not(.app-graphic) {
      transform: translateY(0);
      transition-delay: $view-delay + $pulse-duration + $segment-duration;
      opacity: 1;      
    }
    
    > .app-activity {
      opacity: 1;
    }
    
    .app-item, > .app-content {
      border-color: $color-border;
    }
  }
}

#welcome:not(:target) ~ * {
  .app-graphic {
    transition: all $duration $easing;
  }
}

@keyframes pulse {
  from, to {
    transform: scale(1)
  }
  
  50% {
    transform: scale(1.2)
  }
}

@keyframes disappear {
  to { opacity: 0; }
}

@keyframes appear {
  to { opacity: 1; }
}

.app-view:nth-child(2) {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  
  > .app-header {
    font-size: 1rem;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $detail-padding;
    padding-bottom: 1rem;
  }
  
  > .app-header > h2 {
    transform: translateY(1rem);
    
    > em {
      color: $color-primary;
      font-style: normal;
    }
  }
  
  > .app-header > h2,
  .app-item > *:not(.app-graphic) {
    transition-duration: $duration * 1.5;
    opacity: 0;
  }
  
  > .app-content {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: wrap;
    flex-basis: 40%;
    border: 1px solid transparent;
    border-left: none;
    border-right: none;
  }
  
  > .app-activity {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    opacity: 0;
    
    > .app-header {
      padding: $detail-padding;
      display: flex;
      flex-direction: row;
      align-items: center;
      
      > h2 {
        flex-grow: 1;
      }
    }
    
    > .app-graph {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}

.app-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0;
}

.app-item {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  border: 1px solid transparent;
  padding: $detail-padding / 2 $detail-padding;
  padding-bottom: 0;
  
  > *:not(.app-graphic) {
    transform: translateY(1rem);
  }
  
  &:nth-child(1) .app-graphic {
    transform: translateX(17vh) translateY(5vh);
  }
  
  &:nth-child(2) .app-graphic {
    transform: translateX(-4vh) translateY(4vh);
  }
  
  &:nth-child(3) .app-graphic {
    transform: translateX(6vh) translateY(-7vh);
  }
  
  &:nth-child(4) .app-graphic {
    transform: translateY(-8vh) translateX(-4vh);
  }
}

.app-graphic {
  transition: transform $segment-duration ($view-delay + $pulse-duration $easing,
    opacity $segment-duration / 2) ($view-delay + $pulse-duration + $segment-duration / 2) $easing;
  margin-top: 1rem;
  opacity: 0;
}

.app-data {
  font-size: 2rem;
}

.app-unit {
  font-size: 1rem;
  color: $color-text-secondary;
}

.app-label {
  font-size: 0.8rem;
  color: $color-text-secondary
}

.app-menu-icon {
  width: 1.5rem;
  height: 2px;
  background: $color-secondary;
  margin-top: 0.5rem;
  
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    width: 1rem;
    height: 100%;
    background: $color-secondary;
  }
  
  &:before { top: -0.5rem; right: 0.1rem; }
  &:after { top: 0.5rem; left: 0.1rem; }
}

.app-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
}

.app-tag {
  font-size: 0.8rem;
  color: $color-text-secondary;
  
  & + & { margin-left: 1rem; }
  
  &:before {
    content: '';
    display: inline-block;
    margin-right: 0.5rem;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;  
    background: $color-secondary;
  }
  
  &.-active:before {    
    background: $color-primary;
  }
}

body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #8A9AAE;
}

.st0, .st1, .svg-loader-segment {
  fill: none;
  stroke: $color-primary;
  stroke-width: $stroke-width;
  opacity: 1;
  transition: all $duration $easing;
}

.svg-loader {
  opacity: 0;
}

.st0 {
  stroke-dasharray: 0, 900;
  stroke-dashoffset: 0;
}

.st1 {
  transition-delay: 0.3s;
  stroke-dasharray: 50, 153;  
  stroke-dashoffset: -153;
}

.svg-loader-segment {
  transition:
    transform $segment-duration $easing,
    opacity $segment-duration / 2 + 0.25s $easing,
    stroke $segment-duration / 2 + 0.25s $easing,;
}

#svg-lines {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  z-index: 0;
  overflow: visible;
  transform-origin: center 4vh;
}

.svg-data {
  fill: none;
  stroke-width: $stroke-width;
  
  &.-temp {
    stroke: #F4814B;
    stroke-dasharray: 20, 118;
  }
  
  &.-cal {
    stroke: $color-cal;
    stroke-dasharray: 20, 113;
  }
  
  &.-steps-bg {
    stroke: #E0E1E0;
    stroke-dasharray: 40, 100;
    stroke-dashoffset: -60;
  }
  
  &.-steps {
    stroke: $color-primary;
    stroke-dasharray: 20, 73;
    stroke-dashoffset: -53;
  }
  
  &.-heart {
    stroke: #9965AA;
    stroke-dasharray: 50, 200;
    stroke-dashoffset: -150;
  }
}

.svg-activity-fill {
  fill: #C4E4F8;
}

.svg-activity-line {
  fill: none;
  stroke: #65BCEA;
  stroke-miterlimit: 10;
  stroke-width: $stroke-width / 2;
}

.svg-activity-avg, .svg-activity-indicator {
  fill: none;
  stroke: $color-secondary;
  stroke-width: $stroke-width / 2;
  mix-blend-mode: multiply;
}

.svg-activity-fill, .svg-activity-line {
  transform: translateY(10vh);
  opacity: 0;
}

html, body {
  font-size: 2.5vh;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.meta {
  flex-basis: calc(80% - #{$app-width});
  
  > * {
    transition: none !important;
  }

  > h1 {
    font-weight: 300;
    font-size: 32px;
    color: white;
  }
  
  > p {
    line-height: 1.3;
    font-size: 16px;
    color: rgba(white, 0.6);
  }

  a {
    color: rgba(white, 0.6);
    
    &:hover {
      color: white;
    }
  }
  
  @media (max-width: 750px) {
    display: none;
  }
}

.main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #94CAE4;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%2394cbe4' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%2394cbe4' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%2393cce4' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%2393cce4' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%2393CDE4' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23a2d1e2' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23b0d5e1' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23bdd9e1' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23c9dde2' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23D4E1E4' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.route {
  display: none;
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}