<div>
  <nav class="navbar">
    <ul class="navbar__menu">
      <li class="navbar__item" [ngClass]="{ 'disabled': !isCoordinator }">
        <a href="/home/periods" class="navbar__link">
          <i class="pi pi-calendar-times"></i><span>Semestres</span>
        </a>        
      </li>
      <li class="navbar__item" [ngClass]="{ 'disabled': !isCoordinator }">
        <a href="/home/disciplines" class="navbar__link">
          <i class="pi pi-book"></i><span>Disciplinas</span>
        </a>        
      </li>
      <li class="navbar__item" [ngClass]="{ 'disabled': !isCoordinator }">
        <a href="/home/courses" class="navbar__link">
          <i class="pi pi-list"></i><span>Cursos</span>
        </a>        
      </li>
      <li class="navbar__item" [ngClass]="{ 'disabled': !isAdmin }">
        <a href="/home/users" class="navbar__link">
          <i class="pi pi-user"></i><span>Usuários</span>
        </a>        
      </li>
      <li class="navbar__item" [ngClass]="{ 'disabled': !isUser }">
        <a href="/home/curriculum" class="navbar__link">
          <i class="pi pi-th-large"></i><span>Grade curricular</span>
        </a>        
      </li>
    </ul>
  </nav>
</div>
