<div>
  <nav class="navbar">
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a href="/app" class="navbar__link"><i class="pi pi-home"></i><span>Início</span></a>
      </li>
      <li class="navbar__item">
        <a href="/app/periods" class="navbar__link"><i class="pi pi-calendar-times"></i><span>Semestres</span></a>        
      </li>
      <li class="navbar__item">
        <a href="/app/disciplines" class="navbar__link"><i class="pi pi-book"></i><span>Disciplinas</span></a>        
      </li>
      <li class="navbar__item">
        <a href="/app/courses" class="navbar__link"><i class="pi pi-list"></i><span>Cursos</span></a>        
      </li>
    </ul>
  </nav>
</div>